<form [formGroup]="formbank">
    <select class="form-select" aria-label="Default select example" formControlName="dropdown-bank">
    <div class="dropdown" >
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Select bank
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item" value="bbva">BBVA</li>
            <li class="dropdown-item" value="banamex">BANAMEX</li>
            <li class="dropdown-item" value="scotiabank">SCOTIABANK</li>
            <li class="dropdown-item" value="hsbc">HSBC</li>
        </ul>
    </div>
</select>
</form>