<div class="container-md">
    <br>
    <table class="table table-success table-striped-columns">
        <div class="table-responsive-sm">
            <div class="table" id="table-header">
                    <h2>Banking Information</h2>
            </div>
        </div>
        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Bank</th>
                        <th scope="col">USD Account</th>
                        <th scope="col">USD Subaccount</th>
                        <th scope="col">MXN Account</th>
                        <th scope="col">MXN Subaccount</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <td scope="col">
                            <div class="input-group mb-4">
                            BBVA
                            </div>  
                        </td>
                        <td scope="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                              </div>
                        </td>
                        <td scope="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                              </div>
                        </td>
                        <td scope="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                              </div>
                        </td>
                        <td scope="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                              </div>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-responsive-md">
            <table class="table">
                banco4
            </table>
        </div>
        <div class="table-responsive-md">
            <table class="table">
                banco5
            </table>
        </div>
    </table>
</div>